@import '../../styles/mixins.scss';

.products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    justify-items: center;

    @include media(700) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media(992) {
        grid-template-columns: repeat(3, 1fr);
    }
}
